import 'package:flutter/material.dart';
import 'package:${projectName}/core/app/app.dart';
import 'package:${projectName}/core/dependencies/dependency_registry.dart';
import 'package:${projectName}/core/utils/logger.dart';
${webPathUrlStrategyConfigImport}

void main() async {
  ${webPathUrlStrategyConfig}
  WidgetsFlutterBinding.ensureInitialized();
  Logger.showLogs();
  await DependencyRegistry.register();
  runApp(const ${appName}App());
}
