import 'package:mockito/annotations.dart';
import 'package:${projectName}/core/dialog/dialog_handler.dart';
import 'package:${projectName}/core/navigation/navigation_bus.dart';

@GenerateNiceMocks([
    MockSpec<DialogHandler>(),
    MockSpec<NavigationBus>(),
    ])
void main() {}