import 'package:flutter/gestures.dart';
import 'package:flutter/material.dart';

class ${appName}ScrollBehavior extends MaterialScrollBehavior {
  const ${appName}ScrollBehavior();
  @override
  Set<PointerDeviceKind> get dragDevices => <PointerDeviceKind>{
        PointerDeviceKind.touch,
        PointerDeviceKind.mouse,
      };
}
