import 'package:flutter/material.dart';
import 'package:flutter_test/flutter_test.dart';
import 'package:get_it/get_it.dart';
import 'package:mockito/mockito.dart';
import 'package:${projectName}/core/app/app.dart';
import 'package:${projectName}/core/dialog/dialog_handler.dart';
import 'package:${projectName}/core/navigation/navigation_bus.dart';
import 'package:${projectName}/core/localization/app_localizations_en.dart';
import 'package:${projectName}/pages.dart';

import 'mocks.mocks.dart';

void main() {
  setUpAll(
    () {
      GetIt.I.registerSingleton<DialogHandler>(
        MockDialogHandler(),
      );
      GetIt.I.registerSingleton<NavigationBus>(
        MockNavigationBus(),
      );
    },
  );
  testWidgets('${appName}App test', (WidgetTester tester) async {
    when(GetIt.I<DialogHandler>().dialogKey).thenReturn(GlobalKey());

    await tester.pumpWidget(const ${appName}App());

    final localization = ${appName}LocalizationsEn();

    expect(find.byType(HomePage), findsOneWidget);
    expect(find.text('Ella'), findsOneWidget);
    expect(find.text('Language: ${localization.language}'), findsOneWidget);

    await tester.tap(find.byIcon(Icons.add));
    await tester.pump();

    expect(find.text('Ella!'), findsOneWidget);

    await tester.tap(find.byIcon(Icons.add));
    await tester.pump();
    
    expect(find.text('Ella!!'), findsOneWidget);
  });
}
